@import "https://fonts.googleapis.com/icon?family=Material+Icons"
@import "materialize/components/color"
@import "materialize"
@import "slide"

.field
    select
        display: initial
        width: 10%
    input
        position: initial !important
        opacity: 1 !important