
<button class="accordion">Clientes</button>
<div class="panel">
  <ul>
    <li><%= link_to "view clients", clients_path %></li>
    <li><%= link_to "new clients", new_client_path %></li>
  </ul>
</div>

<button class="accordion">Money</button>
<div class="panel">
  <ul>
    <li><%= link_to "create money", find_money_path %></li>
    <li>Nr: <input type="text" id="find_money_menu" /><button id="button_find_money_menu" onclick="findMoney($('#find_money_menu').val())" >find</button></li>
  </ul>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <ul>
    <li></li>
  </ul>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>